<div class="container" >
    <div class="row">
        <!--<div class="col-md-12">-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">报警列表</h3>
                </div>

                <div class="panel-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label  class="col-sm-1 control-label">设备</label>
                                <div class="col-sm-2">
                                    <select name="$index_valueType"class="form-control input-sm" ng-model="quereyData.devId" ng-change="changeDevId()">
                                        <option value="{{val.dev_id}}"  ng-repeat="(key, val) in devList" >{{val.name}}</option>
                                    </select>
                                </div>

                                <label  class="col-sm-1 control-label">属性</label>
                                <div class="col-sm-2">
                                    <select name="$index_valueType"class="form-control input-sm" ng-model="quereyData.attrId"
                                            ng-options="val.id as val.attrName for val in attrList"   ng-change="changeAttr()">
                                        <!--   <option value="{{val.attrName}}"  ng-repeat="(key, val) in attrList" >{{val.attrName}}</option>-->
                                    </select>
                                </div>

                              <!--  <label  class="col-sm-1 control-label">时间</label>
                                <div class="col-sm-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="z-index: 1"  id="datepickerStrat" ng-model="param.start" >
                                        <span class="input-group-addon">到</span>
                                        <input type="text" class="form-control"  style="z-index: 1"   id="datepickerEnd"  ng-model="param.end" >
                                    </div>
                                </div>-->


                            </div>
                        </div>

                    </form>

                    <div class="row m-t-10">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>设备名称</th>
                                        <th>数据点名称</th>
                                        <th>当前值</th>
                                        <th>报警时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="entity in data"  >
                                        <td ng-bind="entity.name" ></td>
                                        <td ng-bind="entity.attr_name"  ></td>
                                        <td >{{entity.data_value}}{{entity.unit}}</td>
                                        <td ng-bind="entity.add_date | date:'yyyy-MM-dd HH:mm:ss'"  ></td>

                                        <td >
                                            <button class="btn btn-icon waves-effect waves-light btn-info btn-sm m-b-5" ng-click="gotoModel(entity)">
                                                <i class="fa fa-pencil" style="color:  #fff;"></i>
                                            </button>

                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <page-info pages="pages" curpage="quereyData.page" total="total" change="changePage(page)"></page-info>
                    </div>
                </div>
            </div>
<!--        </div>-->

    </div>


</div>