<div class="container" >

<div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title"><b>列表展示</b></h4>
                                <ol class="breadcrumb pull-right">
                                    <li><a href="#">首页</a></li>
                                    <li class="active">列表展示</li>
                                </ol>
                            </div>
                        </div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
				     <div class="col-xs-12 col-sm-5 col-md-3 left_monitor">
		                <div class="monitor_left" style="margin-bottom: 20px;">
		                    <ul class="monitor_ul">
		                        <li>
		                            <div class="form-group monitor_form" style="margin-bottom: 0;">
		                                <div class="input-group ng-scope" style="margin-top: 10px;">
		                                    <input class="form-control with-primary-addon" placeholder="设备编号或名称"
		                                           ng-model="quereyData.eid">
		                                    <span class="input-group-btn" style="float: none;">
		                                      <button class="btn btn-primary" type="button" ng-click="getDevList(1)" style="margin-top: 0px;">查询</button>
		                                      <button id="group_btn" class="btn btn-primary" type="button" style="margin-top: 0px;">分组</button>
		                                    </span>
		                                </div>
		                                <div class="monitor_devGroup">
		                                    <input class="easyui-combotree" style="width:100%;" />
		                                </div>
		                            </div>
		                        </li>
		                        <div ng-if="!devListLoadFinished" style="text-align:center;padding-top: 35px;"><div class="loaderData"></div></div>
		                        <li ng-repeat="eqm in equipments" ng-if="devListLoadFinished">
		                            <div class="monitor_line"><img ng-src="{{getStatusImg(eqm.online)}}"/></div>
		                            <div class="monitor_didData">
		                                <a title="{{eqm.name}}" href={{"#monitor/monitorList#"+eqm.devId}}>{{eqm.name}}</a>
		                                <em>{{eqm.devId}}</em>
		                            </div>
		                        </li>
		                    </ul>
	                         <!-- 分页 -->
                        <page-info pages="pages" curpage="quereyData.page" change="changePage(page)" total="total"></page-info>
		                </div>
            		</div>
				</div>
			</div>
		</div>
	</div>
</div>