<div class="container" >

<!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title"><b>设备列表</b></h4>
                                <ol class="breadcrumb pull-right">
                                    <li><a href="#">首页</a></li>
                                    <li class="active">设备列表</li>
                                </ol>
                            </div>
                        </div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
				<form role="form" class="form-horizontal" >
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label  class="col-sm-2 control-label">设备名称或编号：</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" ng-model="quereyData.eid" placeholder="模糊搜索">
                                </div>
                                <label  class="col-sm-2 control-label">设备类型：</label>
                                <div class="col-sm-2">
                                     <select class="form-control"  ng-model="quereyData.type" >
									<option  value="L">LORA</option>
									<option  value="N">NBIOT</option>
									<option  value="G">2G</option>
									</select>
                                </div>
                                <label  class="col-sm-1 control-label">状态：</label>
                                <div class="col-sm-2">
                                    <select class="form-control"  ng-model="quereyData.seleStatus" >
									<option  value="N">在线</option>
									<option  value="B">离线</option>
								</select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row-margin-top">
                            <div class="col-sm-5 col-md-offset-9 ">
	                             <a href="#/module/equAdd" type="button" ng-if="edit_cmp" class="btn btn-primary waves-effect waves-light" >新增设备 <i class="fa fa-plus"></i></a>
                                <button  class="btn btn-primary waves-effect waves-light" type="submit"  btn-loading="loadCtl.search" ng-click="init()">搜索</button>
                                <button class="btn btn-default waves-effect" type="button" ng-click="resetSearch()">重置</button>
                            </div>
                        </div>
                    </form>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="table-responsive">
								<table class="table">
									<thead>
									<tr>
										<th>状态</th>
										<th>设备名称</th>
										<th>设备编号</th>
										<th>设备类型</th>
										<th>数据模板</th>
										<th>所属分组</th>
										<th>所属用户</th>
										<th>修改时间</th>
										<th ng-if="edit_cmp">操作</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="eqm in equipments"> 
									<td>{{ equStatus[eqm.eStatus] }}</td>
									<td>{{ eqm.name }}</td>
									<td>{{ eqm.devId}}</td>
									<td>{{ eqm.typeName }}</td>
									<td>{{ eqm.modelName }}</td>
									<td>{{ eqm.groupName }}</td>
									<td>{{ eqm.uName }}</td>
									<td>{{ eqm.udpDate }}</td>
									<td ng-if="edit_cmp"> 
										<a href="javascript:void(0)" class="operation" title="详情"><i class="ion-information-circled"></i></a>
										<a href="#/module/equAdd" class="operation" title="编辑"><i class="fa fa-pencil"></i></a>
										<a href="javascript:void(0)" class="operation" ng-click="delEqu(eqm.id)" title="删除"><i class="fa fa-trash-o"></i></a>
								   </td>
									</tr>
									

									</tbody>
								</table>
							</div>
						</div>
						 <!-- 分页 -->
                        <page-info pages="pages" curpage="quereyData.page" change="changePage(page)" total="total"></page-info>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>